{{ define "main" -}}
<div class="mt-8 max-w-2xl lg:max-w-3xl mx-auto">
    <main class="mb-12">
        <section class="flex flex-col mx-6 my-2">
            {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
            <article class="flex flex-col my-4 text-gray-700">
                <span><a href="{{ .Permalink }}" class="font-sans text-4xl hover:text-primary">{{ .Title }}</a>
                </span>
                <time class="text-sm"
                    datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "02/01/2006" }}</time>
                <div class="font-serif text-lg text-justify my-4">{{ .Summary }}</div>
                <div class="flex mr-2 mb-2">
                    {{ range .Params.categories }}<a
                        class="border border-secondary px-2 mr-2 text-xs rounded hover:bg-blue-800 hover:text-gray-100 uppercase"
                        href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
                {{ if .Truncated }}
                <a href="{{ .RelPermalink }}"
                    class="uppercase text-left text-sm font-bold text-blue-500 hover:text-blue-800">Leia
                    Mais...</a>
                {{ end }}
            </article>
            {{ end }}
        </section>
    </main>
</div>
<section id="filiadas" class="flex flex-col p-8 items-center bg-blue-100">
    {{ partial "home/filiadas.html" . }}
</section>
<section id="parceiros" class="flex flex-col p-8 items-center">
    {{ partial "home/parceiros.html" . }}
</section>
<section id="ouvidoria" class="flex flex-col p-8 items-center my-10">
    {{ partial "home/ouvidoria.html" . }}
</section>
{{- end }}