<nav class="flex flex-col items-center justify-center mt-2 mb-6">
    <button id="menu-btn"
        class="w-16 mt-2 p-1 border border-primary font-sans uppercase tracking-wide rounded text-sm text-gray-700 md:hidden">Menu
    </button>
    <ul id="menu-links"
        class="hidden text-center font-sans text-xl text-gray-700 md:flex md:flex-row md:w-full md:items-center md:justify-center">
        <li class="mt-2 md:mr-4 hover:text-primary"><a href="/">Início</a></li>
        <li class="mt-2 md:mr-4 hover:text-primary"><a href="/institucional">Institucional</a></li>
        <li class="mt-2 md:mr-4 hover:text-primary"><a href="/#filiados">Filiados</a></li>
        <li class="mt-2 md:mr-4 hover:text-primary"><a href="/#parceiros">Parceiros</a></li>
        <li class="mt-2 md:mr-4 hover:text-primary"><a href="/ouvidoria">Ouvidoria</a></li>
        <li class="mt-2 md:mr-4 hover:text-primary">
            <a class="bg-primary p-2 uppercase text-sm font-semibold tracking-wide font-sans rounded text-gray-100 hover:bg-green-800"
                href="http://siga.grupohermanos.com.br:8052/fan/" target="_blank" rel="noopener">Área do
                Associado</a>
        </li>
    </ul>
</nav>
<hr class="mx-8 lg:mx-20 xl:mx-40 border-gray-400">